bizno_API_Key=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
gov_API_key_decoded=
gov_API_key_encoded=

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
